<header>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mt-3 mb-3">
        <a class="navbar-brand" href="{% url 'index' %}">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li {% if request.path == '/' %}
                    class="nav-item active"
                {% else %}
                    class="nav-item"
                {% endif %}
            >
            <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            <li {% if 'quotes' in request.path %}
                    class="nav-item active"
                {% else %}
                    class="nav-item"
                {% endif %}>
            <a class="nav-link" href="{% url 'quotes' %}">Quotes</a>
            </li>
            <li {% if 'about' in request.path %}
                    class="nav-item active"
                {% else %}
                    class="nav-item"
                {% endif %}>
            <a class="nav-link" href="{% url 'about' %}">About</a>
        </ul>
        </div>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
</div>
</header>