{% extends 'layout.html' %}
{% load static %}
{% load humanize %}

{% block title %}
Özlü Sözler
{% endblock %}

{% block content %}


<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Fluid jumbotron</h1>
      <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
</div>

    <div class="row">
        <div class="col-md-12">

            {% if quotes %}
                {% for quote in quotes %}
                    <div class="card mb-3">
                    <div class="row">
                        <div class="col-md-6" style="max-width: 15rem;">
                            <img class="img-responsive" src="{{ quote.image.url }}" alt="">
                        </div>
                        <div class="col-md-9">
                            <div class="card-body">
                                <div class="card-title">
                                    <a href="{{ quote.get_absolute_url }}">{{ quote.name }}</a>
                                </div>
                                <p class="card-text">
                                    {{ quote.description|safe | linebreaks | truncatechars:50 }}
                                </p>
                                <h4>Yazar: {{quote.user.get_full_name}}</h4>
                                <p><a href="{{ quote.get_absolute_url }}" class="btn btn-primary" role="button">İncele</a>
                                    {% if request.user.is_authenticated %}
                                        <a href="{{ quote.get_update_url }}" class="btn btn-default" role="button">Güncelle</a>
                                        <a href="{{ quote.get_delete_url }}" class="btn btn-danger" role="button">Sil</a>
                                    {% endif %}
                                </p>
                                <p class="card-text">
                                    <small class="text-muted">{{ quote.created_date | timesince }}</small>
                                </p>
                            </div>
                        </div>
                    </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="alert alert-warning">
                    <p>
                        No quotes
                    </p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}